{% extends 'base.html' %}

{% block title %}Авторизация{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/style.css">
<div class="register-container">
  <h1>Авторизация</h1>
  {% for cat, msg in flash %}
    <div class="flash {{ cat }}">{{ msg }}</div>
  {% endfor %}
  <form action="/login" method="post" class="register-form">
    <input type="tel" name="phone_number" placeholder="Номер телефона" required />
    <input type="password" name="password" placeholder="Пароль" required />
    <button type="submit">Войти</button>
  </form>
  <p>Еще нет аккаунта? <a href="/register">Регистрация</a></p>
</div>
{% endblock %}